BuildRes/
Pods/Pods.xcodeproj
build/
.derived/

*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata
 
.svn
CVS
 
.DS_Store
*~.nib
*.swp

project.xcworkspace
.idea/
YandexMoney.xccheckout

Carthage/Build/

Fastlane/
fastlane
provisions/
Logs/

#Sonar
.scannerwork